services:
  request-info-parser:
    hostname: request-info-parser
    build:
      context: .
      dockerfile: Dockerfile
    container_name: request-info-parser
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/" ]
      interval: 30s
      timeout: 5s
      start_period: 5s
      retries: 3
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
